<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Codelândia - Blog</title>
</head>
<body>
    <header class="header">
        <section class="header_container">
            <div class="header_container_wrapper-title">
                <h1 class="header_container_wrapper-title_text">Codelândia</h1>
                <h1 class="header_container_wrapper-title_text">blog</h1>
            </div>
            <div class="header_container_wrapper-input">
                <input id="inputSearch" class="header_container_wrapper-input_input" placeholder="Pesquisar no blog" type="text">
            </div>
        </section>
    </header>
    <main class="main">
        <ul class="main_wrapper-cards"></ul>
    </main>
    <footer class="footer">
        <div class="footer_container">
            <h1 class="footer_container-title1">Codelândia</h1>
            <h1 class="footer_container-title2">blog</h1>
        </div>
    </footer>

<script src="bundle.js"></script>
</body>
</html>
