.header {
    width: 100%;
    background: $bg-color-gradient1;

    &_container {
        display: flex;
        flex-direction: column;
        row-gap: 73px;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding: 41px 0;

        &_wrapper-title {
            display: flex;
            justify-content: space-between;

            &_text {
                font-family: 'Lexend Deca';
                font-size: 24px;
                font-weight: 400;
                color: $white-color1;
                text-align: right;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &_wrapper-input {
            display: flex;
            align-items: center;
            column-gap: 17px;
            padding: 0 17px;
            width: 100%;
            background-color: $bg-color-gradient2;
            border-radius: 5px;

            span {
                display: flex;
                align-items: center;
            }

            &_input {
                padding: 21px 0;
                width: 100%;
                outline: none;
                background: transparent;
                border: none;
                color: $white-color1;
                text-align: left;
                font-family: 'Inter';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                opacity: 0.5;

                &::placeholder {
                    color: $white-color1;
                    text-align: left;
                    font-family: 'Inter';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    opacity: 0.5;
                }
            }
        }
    }
}

.main {
    background-color: $bg-color2;
    padding: 100px 0;

    &_noResult{
        display: none;
        align-items: center;
        justify-content: center;
        padding: 23px 25px 23px;
        height: 200px;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        font-family: 'Lexend Deca';
        font-size: 24px;
        font-weight: 400;
        color: $blue-color1;
        text-align: center;
        font-style: normal;
        line-height: normal;
    }

    &_wrapper-cards {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        max-width: 900px;
        width: 100%;
        margin: 25px auto;

        &_li {
            padding: 23px 25px 23px;
            border-radius: 5px;
            background: $white-color1;
            box-shadow: 0px 0px 10px 0px rgba(19, 19, 31, 0.05);

            &_container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 22px;

                &_date {
                    color: $gray-color1;
                    text-align: left;
                    font-family: 'Lexend Deca';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                &_button {
                    width: 25px;
                    height: 25px;
                    border: none;
                    background: transparent;
                    cursor: pointer;

                    #icon {
                        fill: $black-color1;
                        stroke: $purple-color1;
                        stroke-width: 7;
                        transition: fill 0.3s;
                        width: 25px;
                        height: 25px;
                    }

                    #icon.filled,
                    #icon:hover {
                        fill: #574ae8;
                    }
                }
            }

            &_title {
                color: $blue-color1;
                text-align: left;
                font-family: 'Lexend Deca';
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 8px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            &_description {
                color: $gray-color1;
                font-family: 'Lexend Deca';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
        }
    }
}

.footer {
    background: linear-gradient(88deg, #574AE8 0%, #3EA1DB 100%);
    height: 100%;
    padding: 50px 10px;
    height: 248px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .header {
        padding: 0 15px;
    }
    .main {
        padding: 100px 15px;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        &_noResult{
            font-size: 15px;
        }

        &_wrapper-cards {
            &_li {
                &_container {
                    &_date {
                        font-size: 15px;
                    }
                }
                &_title {
                    font-size: 20px;
                }
                &_description {
                    max-height: 12.5rem;
                    overflow-y: scroll;
                    font-size: 15px;
                }
            }
        }
    }
}
