  $bg-color-gradient1: linear-gradient(88deg, #574AE8 0%, #3EA1DB 100%);
  $bg-color-gradient2: rgba(255, 255, 255, 0.20);

  $bg-color2: #F3F5F7;

  $white-color1: #FFFFFF;
  $blue-color1: #1A202C;
  $gray-color1: #717171;

  $purple-color1: #574AE8;
